# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored

# Mark any Jupyter Notebook files as having been generated.
lib/data_algorithms/image_recognition/*/*.ipynb linguist-vendored
!lib/data_algorithms/image_recognition/image_classification.ipynb linguist-vendored
!lib/data_algorithms/image_recognition/all_models.ipynb linguist-vendored
