# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored

# Mark any Jupyter Notebook files as having been generated.
lib/data_algorithms/image_recognition/bathroom/*.ipynb linguist-vendored
lib/data_algorithms/image_recognition/bedroom/*.ipynb linguist-vendored
lib/data_algorithms/image_recognition/dining/*.ipynb linguist-vendored
lib/data_algorithms/image_recognition/kitchen/*.ipynb linguist-vendored
lib/data_algorithms/image_recognition/living/*.ipynb linguist-vendored
lib/data_algorithms/image_recognition/*.ipynb linguist-vendored
